:root{
    --lpurple:#E6E6FA;
    --mpurple: #5E2BFF;
    --darkpurple: #8F00FF;
    --purple: #8B80F9;
    --gray: #4C4C4C;
    --black: #282828;
  }

main {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    flex-wrap: wrap;
}

body{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin:0;
    background-color: var(--purple);
}

.home-banner{
    display:flex;
    max-height: 400px;
}

#banner-right{
    flex:0 1 40%;
    max-width:40%;
    height: 400px;
}

img{
    height:400px;
    width: 100vw;
}

#banner-left{
    flex:0 1 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    background-color: var(--lpurple);
    height: 400px;
}

#homepage-title {
    font-family: 'Cormorant Garamond';
    font-size: 2rem;
    margin-left: 10px;
    font-weight: bold;
    color: var(--purple);
}
#homepage-subtitle{
    margin-left: 10px;
    font-family: 'Cormorant Garamond';
    font-size: 1.4rem;
    color: var(--purple);
}

/***************** Search Form *****************/

.search-form {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
}

#search-bar {
    background-color: var(--lpurple);
    border: red 1px solid;
    flex-basis: 100%;
    text-align: center;
}

#search-bar::placeholder{
    font-size: 1rem;
    color: rgb(150, 150, 150);
}


#filter-buttons.hidden {
    display: none;
}

/* #filter-buttons > input {

} */

/* #filter-button-reveal {
    
} */


#submit-search {
    background-color: black;
}

#submit-search:hover {
    background-color: green;
}


/***************** Other Books *****************/
.grid-container {
    flex-basis: 100%;
}


/***************** SPECIAL CLASSES *****************/

.hidden {
    display: none;
}