main {
    justify-content: center;
    flex-wrap: wrap;
}

#homepage-title {
    flex-basis: 100%;
    text-align: center;
}

/***************** Search Form *****************/

.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#search-bar {
    flex-basis: 100%;
}

#filter-buttons {
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* #filter-buttons > input {

} */

/* #filter-button-reveal {
    
} */


#submit-search {
    background-color: black;
}

#submit-search:hover {
    background-color: green;
}



/***************** SPECIAL CLASSES *****************/

.hidden {
    display: none;
}