:root{
  --lpurple:#E6E6FA;
  --mpurple: #5E2BFF;
  --darkpurple: #8F00FF;
  --purple: #8B80F9;
  --gray: #4C4C4C;
}

#title
{
  font-size: 44px;
  font-weight: bold;
  font-family: 'Cormorant Garamond';
}
body {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--lpurple); 
}

/* header,
footer,
main {
  margin: 0;
}

header
main {
  margin-bottom: 5px;
} */

p.field {
  font-size: 12px;
}

footer {
  font-size: 11.5px;
}

.list {
  list-style-type: none;
}

/* main {
  margin-top: 8rem;
  margin-bottom: 3.5rem;
  display: flex;
} */

main{
  margin-top: 8rem;
}

/* Layout Template */
.padded{
  display: flex;
  width:100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding:1px;
  
}

label{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
}

.nav-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  position: fixed;
  min-height: 125px;
  max-height: 155px;
  top:0;
  left:0;
  width: 100%;
  background-color: var(--purple);
  color: var(--lpurple);
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
}
.nav-icon{
  font-size: 1.3rem;
}
.nav-title{
  margin-left:1rem;
}
.right-nav{
  margin-right: 1rem;
}
.nav-link, .nav-link:hover, .nav-link:active {
  color: var(--lpurple);
  text-decoration: none;
}

.nav-link:hover{
  color:var(--mpurple);
}
.nav-title:hover{
  color:var(--lpurple);
}


#search-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap:2em;
  background-color: var(--purple);
  padding: 80px;
  height: 600px;
  overflow: auto;
  height:100vh;
  width: 100vw;
}

#search-item{
  background-color: var(--lpurple);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
}

#search-item>a:hover{
  cursor:pointer;
  color: var(--darkpurple);
}
