{% extends 'wrapper.html' %} {% block css %}
<link
    rel="stylesheet"
    href="../static/css/account.css"
    href="{{ url_for('static', filename='css/account.css') }}"
/>
{% endblock %} {% block container %}
<div class="books"></div>
<div id="buttons">
    <h2 id="name">Welcome, {{username}}!</h2>
    <form>
        <button
            type="submit"
            formaction="{{ url_for('add_book')}}"
            class="block"
        >
            Add book to sell
        </button>
    </form>
    <br />
    
    <h2 id="booksForSaleTitle">Books for sale</h2>
    <div class="grid-container">
        {% for doc in docs %}
        <div class="grid-item">
            <a href="{{ url_for('book_info',bookid=doc._id)}}">{{doc.title}}</a>
        </div>
        {%endfor%}
    </div>
</div>
<br />

{% endblock %}
