{% extends 'wrapper.html' %}
{% block container %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="../static/css/styles.css"/>
    </head>
    <body>
        <form method="GET">
            <h1>Welcome, {{username}}</h1>
            <div></div>
              <button type = "submit" formaction="{{ url_for('add_book')}}">Add Book to Sell</button>
            </div>
            <div class="action">
              <button type = "submit" formaction="{{ url_for('view_chat')}}">View Chat</button>
            </div>
          </form>

        <h1> Books for sale </h1>
        {% for doc in docs %}
            <h1> {{doc.title}}</h1>
        {%endfor%}

    </body>
</html> 

{% endblock %}