{% extends 'wrapper.html' %}
{% block container %}

<div class="bookInfo">
    <img src="data:image/png;base64, {{book.image_base64}}" width="500" height="500" />
    <h2>${{book.price}}</h2>
    <div class="bookDetails">
        <h2>Book Info:</h2>
        <h3>Title: {{book.title}}</h3>
        <h3>Edition: {{book.edition}}</h3>
        <h3>Publisher: {{book.publisher}}</h3>
        <h3>Condition: {{book.condition}}</h3>
        <h3>Average Rating: {{book.metadata.volumeInfo.averageRating}}, {{book.metadata.volumeInfo.ratingsCount}} reviews</h3>
        <h3>Page Count: {{book.metadata.volumeInfo.pageCount}}</h3>
        <h3>Description: {{book.metadata.volumeInfo.description}}</h3>
    </div>
    
    {% if is_owner %}
    <form id="delbook" method="GET" action="{{ url_for('delete_book', bookid=book._id) }}">
        <input type="submit" name="delbookbtn" value="Delete Book Listing">
    </form>
    <form id="editbook" method="GET" action="{{ url_for('edit_book', bookid=book._id) }}">
        <input type="submit" name="editbookbtn" value="Edit Book Listing">
    </form>
    {% else %}
    <!--choose this book to swap-->
    <div>
        <form id="requestswap" method="POST">
            <input type="submit" name="request" value="Request to Swap">
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}