{% extends 'wrapper.html' %}
{% block container %}

<div class="bookInfo">
    <img src="data:image/png;base64, {{book.image_base64}}" width="500" height="500" />
    <h2>${{book.price}}</h2>
    <div class="bookDetails">
        <h2>Book Info:</h2>
        <h3>Title: {{book.title}}</h3>
        <h3>Edition: {{book.edition}}</h3>
        <h3>Publisher: {{book.publisher}}</h3>
        <h3>Condition: {{book.condition}}</h3>
    </div>
    {% if is_owner %}
    <form id="delbook" method="GET" action="{{ url_for('delete_book', bookid=book._id) }}">
        <input type="submit" name="delbook" value="Delete Book Listing">
    </form>

    {% endif %}
    <!--choose this book to swap-->
    <form id="requestswap" method="POST">
        <input type="submit" name="request" value="Request to Swap">
    </form>
</div>

{% endblock %}