{% extends 'wrapper.html' %}
{% block container %}
{% if book.metadata %}
<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
<script type="text/javascript">
  google.books.load();

  function initialize() {
    var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
    const isbn = '{{ book["metadata"]["volumeInfo"]["industryIdentifiers"][0]["identifier"] | safe }}'
    const loadIsbn = 'ISBN:' + isbn
    console.log(loadIsbn)
    viewer.load(loadIsbn);
  }

  google.books.setOnLoadCallback(initialize);
</script>
{% endif %}
<div class="bookInfo">
    {% if book.image_exists %}
    <img src="data:image/png;base64, {{book.image_base64}}" width="500" height="500" />
    {% else %}
    <img src="../static/images/default.jpeg" />
    {% endif %}
    <!-- <h2>${{book.price}}</h2> -->
    <div class="bookDetails">
        <h2>Book Info:</h2>
        <h3>Title: {{book.title}}</h3>
        <h3>Edition: {{book.edition}}</h3>
        <h3>Publisher: {{book.publisher}}</h3>
        <h3>Condition: {{book.condition}}</h3>
        {% if book.metadata %}
        <h3>Author:
            {% if book.metadata.volumeInfo.authors %}
            {% for author in book.metadata.volumeInfo.authors %}
            {{author}}
            {% endfor %}
            {% endif %}
        </h3>
        {% if book.metadata.volumeInfo.categories %}
        <h3>Category:
            {% for category in book.metadata.volumeInfo.categories %}
            {{category}}
            {% endfor %}

        </h3>
        {% endif %}
        {% if book.metadata.volumeInfo.averageRating %}
        <h3>Average Rating: {{book.metadata.volumeInfo.averageRating}}, {{book.metadata.volumeInfo.ratingsCount}}
            reviews</h3>
        {% endif %}
        {% if book.metadata.volumeInfo.pageCount %}
        <h3>Page Count: {{book.metadata.volumeInfo.pageCount}}</h3>
        {% endif %}
        {% if book.metadata.volumeInfo.description %}
        <h3>Description: {{book.metadata.volumeInfo.description}}</h3>
        {% endif %}

        {% if book["metadata"]["volumeInfo"]["industryIdentifiers"][0]["identifier"] %}
        <div id="viewerCanvas" style="width: 900px; height: 500px"></div>
        {% endif %}
    </body>
        {% endif %}
    </div>


    {% if is_owner %}
    <form id="delbook" method="GET" action="{{ url_for('delete_book', bookid=book._id) }}">
        <input type="submit" name="delbookbtn" value="Delete Book Listing">
    </form>
    <form id="editbook" method="GET" action="{{ url_for('edit_book', bookid=book._id) }}">
        <input type="submit" name="editbookbtn" value="Edit Book Listing">
    </form>
    {% else %}
    <!--choose this book to swap-->
    <div>
        <form id="requestswap" method="POST">
            <input type="submit" name="swap" value="Request to Swap">
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}