{% extends 'wrapper.html' %}

{% block css %}
<link
  rel="stylesheet"
  href="../static/css/add_book.css"
  href="{{ url_for('static', filename='css/add_book.css') }}"
/>
{% endblock %}


{% block container %}

<h1 id="edit-title">Edit Listing</h1>
<div class="add-book-form">
    <form class="edit-form" method="POST" enctype="multipart/form-data"> 
        <input type="text" placeholder="Title" name ="ftitle"
        value="{{book.title}}">
        <input type="text" placeholder="Publisher" name ="fpublisher"
        value="{{book.publisher}}"">
        <input type="text" placeholder="Edition" name ="fedition"
        value="{{book.edition}}" >
        <select name="fcondition" id="fconditon">
            {% if "new" == book.condition %}
            <option selected="selected" 
            value="New">New</option>
            {% else %}
            <option value="New">New</option>
            {% endif %}

            {% if "Lightly Used" == book.condition %}
            <option selected="selected"
            value="Lightly Used">Lightly Used</option>
            {% else %}
            <option value="Lightly Used">Lightly Used</option>
            {% endif %}

            {% if "Heavily Used" == book.condition %}
            <option selected="selected"
            value="Heavily Used">Heavily Used</option>
            {% else %}
            <option value="Heavily Used Used">Heavily Used</option>
            {% endif %}

            {% if "Damaged" == book.condition %}
            <option selected="selected"
            value="Damaged">Damaged</option>
            {% else %}
            <option value="Damaged">Damaged</option>
            {% endif %}

        </select>
        
        <input type= "file" id="book_image" name="file">
        <button type = "submit" formaction="{{ url_for('add_book')}}">Submit</button>
    </form>
</div>
{% endblock %}