{% extends 'wrapper.html' %}
{% block container %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="../static/css/styles.css"/>
    </head>
    <body>
        <section class="content">
            <div class="grid-container">
                {% for doc in docs %}
                <img src = "data:image/png;base64, {{doc.image_base64}}" width="500" height="500" />
                <div class="grid-item"><a href="/">{{doc.title}}</a></div>
                {%endfor%}
            </div>
        </section>
    </body>
</html> 

{% endblock %}