{% extends 'wrapper.html' %}

{% block css %}
<link
    rel="stylesheet"
    href="../static/css/home.css"
    href="{{ url_for('static', filename='css/home.css') }}"
/>
<link rel="stylesheet" href="../static/css/reset.css">
<link 
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link href='https://fonts.googleapis.com/css?family=Cormorant Garamond' rel='stylesheet'>
{% endblock %}


{% block container %}
<body>
    <!-- Header -->
    <div class="home-banner">
        <div id="banner-left">
            <h1 id="homepage-title">EXPLORE A WIDE COLLECTION OF BOOKS</h1>
            <p id="homepage-subtitle"> Save money and save the planet by trading books with other users on BookShare</p>
        </div>
        <div id="banner-right">
            <img id="home-img" src="../static/images/home.jpg">
        </div>
    </div>

<!-- Search bar -->
<div class="search-form">
        <form method='POST' action="{{url_for('home')}}" class="search-form">
            <div id="search-bar">
                <input type="text" name="query" placeholder="Search book titles">
                <button type="submit" id="submit-search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="hidden" id="filter-buttons">
                <!-- <input type="number" step="0.05" name="price-min">
                <p> Min Price</p>
                <input type="number" step="0.05"" name="price-max">
                <p> Max Price</p> -->
                <input type="text" name="edition">
                <p> Edition </p>
                <input type="text" name="publisher">
                <p> Publisher </p>
                <select name="condition" id="conditon">
                    <option value=""></option>
                    <option value="New">New</option>
                    <option value="Lightly Used">Lightly Used</option>
                    <option value="Heavily Used">Heavily Used</option>
                    <option value="Damaged">Damaged</option>
                </select>
                <p> Condition </p>
            </div>
        </form>
    </div>

    <!-- Button to reveal filters -->
    <button type="submit" id="filter-button-reveal">Filters</button>

    <!-- Everyone else's books -->
    <div class="grid-container">
        {% for doc in docs %}
        <div class="grid-item"><a href="{{ url_for('book_info',bookid=doc._id)}}">{{doc.title}}</a></div>
        {%endfor%}
    </div>
</body>


<script>

    const button = document.querySelector('#filter-button-reveal')
    button.addEventListener('click', (event) => {
        event.preventDefault();
        
        document.querySelector('#filter-buttons')
                .classList
                .remove('hidden');
    });

</script>

{% endblock %}