<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
<div class="login-form-container">
  <form method="POST" class="login-form" id="login-form">
    <p class="form-header">Sign in</p>
      <div>
        <input class="login-form-input" type="text" name="fusername" placeholder="Username" value="">
      </div>
      <div>
        <input class="login-form-input" type="password" name="fpassword" placeholder="Password" value="">
        {% if message %}
          <p class="login-form-error">{{ message }}</p>
        {% endif %}
      </div>
      <div>
        <input class="submit" type="submit" formaction="{{ url_for('login')}}" value="Login">
      </div>
      <div>
        <p class="signup-question">Don't have an account?</p>
        <p class="signup"><a href="{{ url_for('signupPage') }}">Sign up</a></p>
      </div>
    </form>
  </div>
</body>

</html>
