{% extends 'wrapper.html' %}

{% block css %}
<link
  rel="stylesheet"
  href="../static/css/swap.css"
  href="{{ url_for('static', filename='css/swap.css') }}"
/>
{% endblock %}


{% block container %}

<div class="bookInfo">
    {% if book.image_exists %}
        <img src="data:image/png;base64, {{book.image_base64}}" width="500" height="500" />
    {% else %}
        <img src="../static/images/default.jpeg"/>
    {% endif %}
    <!-- <h2>${{book.price}}</h2> -->
    <div class="bookDetails">
        <h2>Book Info:</h2>
        <h3>Title: {{book.title}}</h3>
        <h3>Edition: {{book.edition}}</h3>
        <h3>Publisher: {{book.publisher}}</h3>
        <h3>Condition: {{book.condition}}</h3>
    </div>
    <!--Send/Cancel Request-->
    <div>
        <form id="cancelrequest" method="POST">
            <input type="submit" name="fcancel" value="Cancel">
        </form>
        <form id="sendrequest" method="POST">
            <input type="submit" name="fsend" value="Send Request to Swap">
        </form>
    </div>
</div>
{% endblock %}