{% extends 'wrapper.html' %}
{% block container %}

<div class="bookInfo">
    <img src = "data:image/png;base64, {{mybook.image_base64}}" width="500" height="500" />
    <h2>${{mybook.price}}</h2>
    <div class="bookDetails">
        <h2>Book Info:</h2>
        <h3>Title: {{mybook.title}}</h3>
        <h3>Edition: {{mybook.edition}}</h3>
        <h3>Publisher: {{mybook.publisher}}</h3>
        <h3>Condition: {{mybook.condition}}</h3>
    </div>
</div>
<div class="bookInfo">
    <img src = "data:image/png;base64, {{otherbook.image_base64}}" width="500" height="500" />
    <h2>${{otherbook.price}}</h2>
    <div class="bookDetails">
        <h2>Book Info:</h2>
        <h3>Title: {{otherbook.title}}</h3>
        <h3>Edition: {{otherbook.edition}}</h3>
        <h3>Publisher: {{otherbook.publisher}}</h3>
        <h3>Condition: {{otherbook.condition}}</h3>
    </div>
</div>
<!--
<div>
    <form id="approverequest" method="POST">
        <input type="submit" name="fapprove" value="Approve">
    </form>
    <form id="declinerequest" method="POST">
        <input type="submit" name="fdecline" value="Decline">
    </form>
</div>
-->

{% endblock %}